[submodule "WSUCentipede"]
	path = WSUCentipede
	url = https://github.com/erikbuck/WSUCentipede
[submodule "MazeVenture"]
	path = MazeVenture
	url = https://github.com/erikbuck/MazeVenture.git
[submodule "Project-Hurricane"]
	path = Project-Hurricane
	url = https://github.com/RyanQashSyah/Project-Hurricane
[submodule "CS1181_Project_3_FlahertyWilliam"]
	path = CS1181_Project_3_FlahertyWilliam
	url = https://github.com/wpflaherty/CS1181_Project_3_FlahertyWilliam
[submodule "EilermanOConnorSlater"]
	path = EilermanOConnorSlater
	url = https://github.com/tux2603/EilermanOConnorSlater

[submodule "makeitwright19-meta-project"]
	path = makeitwright19-meta-project
	url = https://github.com/mkijowski/makeitwright19-meta-project
[submodule "geoposts"]
	path = geoposts
	url = https://github.com/realandrew/geoposts
[submodule "Cruz_Wibowo"]
	path = Cruz_Wibowo
	url = https://github.com/Weebs2019/Cruz_Wibowo
[submodule "adams_langenkamp_sullivan"]
	path = adams_langenkamp_sullivan
	url = https://github.com/thomaslangenkamp/adams_langenkamp_sullivan
[submodule "mineclearancechallenge"]
	path = mineclearancechallenge
	url = https://github.com/arjunsekar1991/mineclearancechallenge
[submodule "Project-GreenThumb"]
	path = Project-GreenThumb
	url = https://github.com/RyanQashSyah/Project-GreenThumb
[submodule "QuestCalculator"]
	path = QuestCalculator
	url = https://github.com/AlexanderGroeger/QuestCalculator
[submodule "webScrape"]
	path = webScrape
	url = https://github.com/domidanke/webScrape
[submodule "LizARd"]
	path = LizARd
	url = https://github.com/erkarogers/LizARd
[submodule "LizARdV2.0"]
	path = LizARdV2.0
	url = https://github.com/Pattonsguy/LizARdV2.0
