[submodule "WSUCentipede"]
	path = WSUCentipede
	url = https://github.com/erikbuck/WSUCentipede
[submodule "MazeVenture"]
	path = MazeVenture
	url = https://github.com/erikbuck/MazeVenture.git
[submodule "Project-Hurricane"]
	path = Project-Hurricane
	url = https://github.com/RyanQashSyah/Project-Hurricane
[submodule "CS1181_Project_3_FlahertyWilliam"]
	path = CS1181_Project_3_FlahertyWilliam
	url = https://github.com/wpflaherty/CS1181_Project_3_FlahertyWilliam
